<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IVehicleIncService" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IVehicleIncService" />
            </netTcpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IVehicleIncService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/vehicle/meta" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IVehicleIncService"
                contract="VehicleIncService.IVehicleIncService" name="BasicHttpBinding_IVehicleIncService" />
            <endpoint address="http://localhost:8080/vehicle/meta/ws" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IVehicleIncService" contract="VehicleIncService.IVehicleIncService"
                name="WSHttpBinding_IVehicleIncService">
                <identity>
                    <userPrincipalName value="DESKTOP-UI8R0E0\astro" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8070/vehicle/meta" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IVehicleIncService" contract="VehicleIncService.IVehicleIncService"
                name="NetTcpBinding_IVehicleIncService">
                <identity>
                    <userPrincipalName value="DESKTOP-UI8R0E0\astro" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>